{% extends "web/layout.html" %} 

{% block content %} 
    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h5 class="mb-4">Initial Contact Form:</h5>
                <p>Thank you so much for choosing Maxwell Barn Company as your building partner. Please fill out the information below, and a representative from MBC will be in touch with you soon.</p>

                <form action="{% url 'new_cust' %}" method="post">
                    {% csrf_token %} 
                    {{ CustomerForm.as_p }}

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
