{% extends "web/layout.html" %}
{% load static %}

{% block content %} 

<div id="home-view">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h1>Welcome to Maxwell Barn Company!</h1>
                <p>We build high-quality pole barns for various needs. Our team of experts is dedicated to delivering top-notch barns that meet your requirements.</p>
                <p>Check out our <a href="https://www.facebook.com/maxwellbarncompany/" target="_blank">Facebook</a> page for the latest updates and projects. Stay informed about our ongoing and completed projects.</p>
                <p>Contact us to get started on your next pole barn project! We are excited to collaborate with you.</p>
                <div class="d-flex justify-content-center">
                    <button class="btn" id="quote" style="background-color: #474747; color: white;">Request a Quote</button>
                </div>
                
                </div>
            <div class="col-md-6">
                <img src="{% static 'images/barn.jpg' %}" alt="pole barn exterior" class="img-fluid rounded">
            </div>
        </div>
    </div>


        <!-- Customer Reviews Section -->
    <div class="container mt-4">
        <h2>Customer Reviews</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static 'images/powell_barn.jpg' %}" class="card-img-top" alt="Customer 1">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Megan Powell</h5>
                        <p class="card-text">"Thank you for your fantastic work! You were a pleasure to work with and we are sending you some referrals."</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static 'images/lee_barn.jpg' %}" class="card-img-top" alt="Customer 2">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Patrick Lee</h5>
                        <p class="card-text">"Thank you Jeff, Dennis and your crews! Extremely great people to work with and the craftsmanship is excellent, thank you!"</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static 'images/jerry_barn.jpg' %}" class="card-img-top" alt="Customer 3">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Jerry</h5>
                        <p class="card-text">"I want to say thank you for building our new shop. Y'all made the whole process almost painless and it looks great. All of your team members were very professional and I would recommend your buildings to anybody needing one. Thanks again."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about-view" style="display: none;">
    <p>About the company details</p>
</div>

<div id="process-view" style="display: none;">

    <div class="container mt-4">
        <h1 class="mb-3">MAXWELL BARN COMPANY</h1>
        <h4 class="mb-3">Custom Post Framed Buildings</h4>
        <div class="contact-info mb-4">
            <p>JEFF MAXWELL • OWNER<br>(479) 238-3654</p>
            <p>DENNIS MAXWELL • PROJECT MANAGER<br>(918) 688-6136</p>
            <p>JEREMY KUEHN • NEW HIRE<br>(479) 790 5044</p>
        </div>
        <h2 class="mb-3">WHAT WE BUILD</h2>
        <ul>
            <li>Houses</li>
            <li>Barns</li>
            <li>Sheds</li>
            <li>Garages</li>
            <li>Shops and Commercial Buildings</li>
        </ul>

        <p>Free span buildings of up to 50' wide (larger with a row of interior posts) and any length desired (5' increments are the most efficient).</p>
        <p>We offer up to 16' sidewalls for single-story buildings.</p>
        <p>We build the shell with the exterior finished, including windows and doors within one hour and fifteen minutes of Siloam Springs, AR.</p>

        <h2 class="mb-3">BUILDING STANDARDS</h2>
        <h5 class="mb-2">FRAMING</h5>
        <p>We use 6x6 treated posts, set about 32" in ground on 10' centers. At floor level, a treated 2x6 acts as a concrete form.</p>
        <p>2x6 ribs are installed every two feet horizontally. The top is a double band which carries the trusses. Trusses are engineered with 2x6 top and bottom chords on 5' centers. Standard trusses are 3/12, but 4/12 is an option. Roof purlins are 2×4's on 2' centers.</p>

        <h5 class="mb-2">CONCRETE</h5>
        <p>Includes termite pretreat, moisture barrier, and galvanized shanks in posts and bottom band. Concrete is 4", 3500 psi reinforced with steel panels.</p>
        <p>Smooth finish for interiors and light broom finish for porches.</p>
        <p>Expansion joints may be needed on porches only.</p>

        <h5 class="mb-2">METAL SIDING</h5>
        <p>We offer Central States Panel Loc Plus 29 gauge metal (26 is optional) with a 40-year limited paint warranty in 23 colors. Double bubble foil serves as a radiant heat barrier, provides a minimum R-value, and prevents condensation on interior surfaces. More insulation is needed for climate-controlled areas. Trim: Rat guard in wall color and ridge cap in roof color. Window, door, fascia, rake, and corner trim will be in your trim color. Matching screws used next to each rib.</p>

       <h2 class="mb-3">OPTIONS</h2>
        <h5 class="mb-2">WINDOWS</h5>
        <p>Double pane, single-hung white vinyl windows with grids in 3x3, 3x4, and 3x5 (or we can use yours) installed in 2x6 boxes for easier trimming.</p>

        <h5 class="mb-2">WALK DOORS</h5>
        <p>Steel 36 primed raised pane (including knob and deadbolt) with rot-free composite lower frame trimmed to cover all wood (or we can use yours).</p>

        <h5 class="mb-2">OVERHEAD DOORS</h5>
        <p>Standard raised panel insulated door in black or white (openers can be added later). Carriage style, commercial, and windows are options. Must be 2' shorter than sidewall.</p>

        <h5 class="mb-2">LEAN TO SHEDS/PORCHES</h5>
        <p>Flatten the pitch slightly and extend the roof up to 19' if sidewall height allows. Standard porches include a soldier course of metal on the front, open underneath, and angled ends covered in trim.</p>
        <p>Ceilings, squared ends, lowered, and concrete are options.</p>

        <h5 class="mb-2">WAINSCOTTING</h5>
        <p>Use a separate color for the bottom 3 or 4 feet of your building for an accent.</p>

        <h5 class="mb-2">SOFFIT</h5>
        <p>Extend the roof by one foot on all sides and cover the bottom with solid and perforated soffit material in any color.</p>

        <h5 class="mb-2">SCISSOR TRUSSES</h5>
        <p>Adds a slight interior vault for a unique architectural touch.</p>

        <h5 class="mb-2">POST SLEEVES</h5>
        <p>Hard plastic 5" sleeves prevent post-ground contact, providing added protection and longevity.</p>

        <h5 class="mb-2">ROOF EXTENSIONS</h5>
        <p>Trusses can be extended in 5-inch increments on each gable end (requires a ceiling to seal).</p>

        <h2 class="mb-3">ORDER OF EVENTS</h2>
        <ul>
            <li>Text your name and build address to 918-688-6136. We will make a building available for you to view.</li>
            <li>We will visit with you at the site to establish grade, get specifics, and offer a color chart. If the site is unlevel by more than 18", a pad must be provided 3' larger than the size on all sides.</li>
            <li>A basic road is needed for materials and concrete.</li>
            <li>A contract and drawing will be sent. Review all details and verify that your window and door placements are planned around posts. The price listed ONLY includes one load of screenings for leveling. You are responsible for additional fill for grading.</li>
            <li>OK plans and details and prepare to pay 50% of the price at this time, and delivery will be scheduled. Builder's risk should be in place to cover theft or damage.</li>
            <li>We will assist in permitting. A state-approved septic layout (unless you have city sewer) is required before a permit if plumbing is involved.</li>
            <li>We frame the building first, grade it closely, allow any rough-in plumbing, finish grade and pour, and then install windows and doors with insulation and metal. The process usually takes 2-3 weeks. We will clean up and remove all trash. Materials remaining were ordered extra and will be removed.</li>
            <li>Final payment is expected IMMEDIATELY after completion. Make arrangements if drawing on a loan. Additional charges may include fill, added items, towing if needed, and jackhammering post holes if necessary.</li>
        </ul>

        <h2 class="mb-3">AFTER COMPLETION</h2>
        <p>Concrete takes a month to completely cure. Allow air flow until the floor is dry. You can walk on the floor immediately but do not drive for the first week.</p>
        <p>We will offer framing tips if asked.</p>
        <p>Maxwell Barn Company has built a quality reputation one building at a time. Word of mouth from satisfied customers is our only advertising, so please let your friends know about us!</p>
    </div>
</div>

<div id="contact-view" style="display: none;">
    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h5 class="mb-4">Initial Contact Form:</h5>
                <p>Thank you so much for choosing Maxwell Barn Company as your building partner. Please fill out the information below, and a representative from MBC will be in touch with you soon.</p>

                <form action="{% url 'new_cust' %}" method="post">
                    {% csrf_token %} 
                    {{ CustomerForm.as_p }}

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'images/index.js' %}"></script>
{% endblock %}