{% extends "web/layout.html" %}
{% load static %}

{% block content %} 
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h1>Welcome to Maxwell Barn Company!</h1>
                <p>We build high-quality pole barns for various needs. Our team of experts is dedicated to delivering top-notch barns that meet your requirements.</p>
                <p>Check out our Facebook page for the latest updates and projects. Stay informed about our ongoing and completed projects.</p>
                <p>Contact us to get started on your next pole barn project! We are excited to collaborate with you.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/barn.jpg' %}" alt="pole barn exterior" class="img-fluid rounded">
            </div>
        </div>
    </div>

    <!-- Customer Reviews Section -->
    <div class="container mt-4">
        <h2>Customer Reviews</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static 'images/powell_barn.jpg' %}" class="card-img-top" alt="Customer 1">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Megan Powell</h5>
                        <p class="card-text">"Thank you for your fantastic work! You were a pleasure to work with and we are sending you some referrals."</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static 'images/lee_barn.jpg' %}" class="card-img-top" alt="Customer 2">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Patrick Lee</h5>
                        <p class="card-text">"Thank you Jeff, Dennis and your crews! Extremely great people to work with and the craftsmanship is excellent, thank you!"</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="{% static 'images/jerry_barn.jpg' %}" class="card-img-top" alt="Customer 3">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Jerry</h5>
                        <p class="card-text">"I want to say thank you for building our new shop. Y'all made the whole process almost painless and it looks great. All of your team members were very professional and I would recommend your buildings to anybody needing one. Thanks again."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
