{% extends "web/layout.html" %}

{% block content %} 
    <div class="container mt-4">
        <h1>CRAMEO BUILO, MAXWELL BARN COMPANY</h1>
        <p>JEFF MAXWELL • OWNER<br>(479) 238-3654</p>
        <p>DENNIS MAXWELL • PROJECT MANAGER<br>(918) 688-6136</p>
        <p>WHAT WE BUILD</p>
        <p>Houses, Barns, Sheds, Garages, Shops and Commercial Buildings. Free span buildings of up to 50' wide (larger with a row of interior posts) and any length desired (5' increments are the most efficient).</p>
        <p>We offer up to 16' sidewalls for single story buildings.</p>
        <p>We build the shell with the exterior finished including windows and doors within one hour and fifteen minutes of Siloam Springs, AR.</p>
        <p>BUILDING STANDARDS</p>
        <p>FRAMING</p>
        <p>We use 6x6 treated posts, set about 32" in ground on 10' centers. At floor level, a treated 2x6 acts as a concrete form.</p>
        <p>2x6 ribs are installed every two feet horizontally. The top is a double band which carries the trusses. Trusses are engineered with 2x6 top and bottom chords on 5' centers. Standard trusses are 3/12. but 4/12 is an option. Roof purlins are 2×4's on 2' centers.</p>
        <p>OPTIONS</p>
        <p>CONCRETE</p>
        <p>Includes termite pretreat, moisture barrier, and galvanized shanks in posts and bottom band. Concrete is 4", 3500 psi reinforced with steel panels.</p>
        <p>Smooth finish for interiors and light broom finish for porches.</p>
        <p>Expansion joints may be needed on porches only.</p>
        <p>METAL SIDING</p>
        <p>We offer Central States Panel Loc Plus 29 gauge metal (26 is optional) with a 40-year limited paint warranty in 23 colors. Double bubble foil serves as a radiant heat barrier. provides a minimum R-value, and prevents condensation on interior surfaces. More insulation is needed for climate controlled areas. Trim: Rat guard in wall color and ridge cap in roof color. Window, door, fascia, rake, and corner trim will be in your trim color. Matching screws used next to each rib.</p>
        <p>WINDOWS</p>
        <p>Double pane, single hung white vinyl windows with grids in 3x3, 3x4 and 3x5 (or we can use yours) installed in 2x6 boxes for easier trimming.</p>
        <p>WALK DOORS</p>
        <p>Steel 36 primed raised pane (including knob and deadbolt) with rot-free composite lower frame trimmed to cover all wood (or we can use yours).</p>
        <p>OVERHEAD DOORS</p>
        <p>Standard raised panel insulated door in black or white (openers can be added later). Carriage style, commercial, and windows are options. Must be 2' shorter than sidewall.</p>
        <p>LEAN TO SHEDS/PORCHES</p>
        <p>Flatten the pitch slightly and extend the roof up to 19' if sidewall height allows. Standard porches include a soldier course of metal on the front, open underneath, and angled ends covered in trim.</p>
        <p>Ceilings, squared ends, lowered, and concrete are options.</p>
    </div>
{% endblock %}
